

img{
	border:0 none;
}

a {
	text-decoration:none;
	color: black;
}

.warpper {
	width: 1000px;
	margin: 0px auto 0 auto;
}

.header {
	width: 1000px;
	height: 169px;
	margin: 0 auto;
}

.left-header {
	height: 169px;
	width: 1000px;
	float: left;
}

.right-header {
	height: 160px;
	width: 120px;
	float: left;
}

.right-header a {
	margin: 10px;
}

.header-info {
	height: 125px;
	width: 1000px;
	float: left;
}

.header-info div {
	margin-right: 50px;
	padding-top: 10px;
}

.text-highlight {
	font-weight: bold;
	font-size: 27px;
	float: right;
}

.text-small {
	font-size: 16px;
	float: right;
}

.navi {
	height: 44px;
	width: 1000x;
	float: left;
}

.navi a {
	display: block;
}

.navi-bar {
	height: 44px;
	width: 1000px;
	float: left;
	background-repeat: repeat-x;
}

.navi-ul {
	list-style: none;
	float: left;
	left:0;
	top:0;
	position: relative;
	z-index: 30px;
	margin-top: 0px;
	visibility: hidden;
	font-size: 11px;
}

.navi-ul > li {
	list-style: none;
	height: 30px;
	width: 111px;
	line-height: 30px;
	margin-left: -40px;
}

.navi-ul > li:hover {
}

.navi-bottom {
	height: 24px;
	width: 1000px;
	float: left;
	margin-top: 2px;
	background-repeat: repeat-x;
}

.navi-term {
	height: 44px;
	width: 110px;
	float: left;
	text-align:  center;
	line-height: 44px;
}



.navi-term-select {
	height: 44px;
	width: 111px;
	float: left;
	text-align:  center;
	line-height: 44px;
}

.navi-term-select:hover ul { 
	visibility: visible; 
}
.navi-term:hover ul { 
	visibility: visible; 
}


.body {
	width: 1000px;
	float: left;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1px;
	border: #c8c8c8 1px solid;
	border-radius: 1em 1em 0em 0em;
}

.left-content {

	float: left;
	border-right: #c8c8c8 1px solid;
	border-left: #c8c8c8 1px solid;
	
}

.left-content a {
	color: #0070c0;
}

.text-bluelight {
	font-weight: bold;
	font-size: 20px;
	color: #0070c0;
}

.content-info {
	margin: 40px 40px -10px 40px;
	float: left;
	padding-bottom: 10px;
	border-bottom: #c8c8c8 1px solid; 
}

.tiny-content-info {
	margin: 10px 40px -10px 40px;
	width: 670px;
	float: left;
	border-bottom: #c8c8c8 1px solid; 
}

.last-info {
	margin: 40px 40px 40px 40px;
	float: left;
	
}

.left-content a:hover {
	color: blue;
}

.right-content {
	width: 250px;
	float: right;
	border-left: #c8c8c8 1px solid;
}

.search-bar {
	width: 200px;
	margin-top: 40px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

.search-text {
	width: 180px;
	margin: 20px;
}

.search-text input {
	width: 200px;
	height: 25px;
}

.search-button {
	width: 80px;
	margin: 0 auto;
}

.search-logo {
	width: 80px;
	height: 30px;
}

.main-menu {
	width: 200px;
	margin: 25px;
	float: left;
}

.menu-body a:hover {
	color: blue;
}

.thanks-logo {
	width: 250px;
	float: left;
}

.logo-term {
	width:250px;
	float: left;
	margin:auto;
	margin-top: 40px;
}

.logo-term img {
	margin: 0 auto;
}

.footer {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	float: left;
	border: #c8c8c8 1px solid;
	border-radius: 0em 0em 1em 1em;
	border-top: none;
	background-color: #EFD5DB;
	margin-bottom: 30px;
}

.register-info {
	width: 400px;
	text-align: center;
	margin: 20px auto;
}

p {
	line-height:150%;
}

li {
	line-height:150%;
}


.ieee-logo {
	width: 180px;
	padding-left: 35px;
}

.ieeecs-logo {
	width: 180px;
	padding-left: 35px;
}

.hua-logo {
	width: 120px;
	padding-left: 65px;
}

.sie-logo {
	width: 210px;
	padding-top: 10px;
	padding-left: 20px;
}

.fdu-logo {
	width: 140px;
	padding-left: 55px;
}

.spi-logo {
	width: 200px;
	padding-left: 20px;
}

.follow-logo {
	margin-right: 10px;
}

.td-txt {
	text-align:left;
	width:400px;
}

.td-time {
	font-weight:600;
	text-align:right;
	width:250px;
}

.td-time-extended {
	font-weight:600;
	text-align:right;
	width:250px;
	color:green;
}

.td-time-passed {
	font-weight:600;
	text-align:right;
	width:250px;
	text-decoration:line-through;
	color:red;
}